n8n/workflows/02-alert-pipeline.json
{
  "name": "02 \u2014 Alert Pipeline (Anomaly Detection)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "b1b2c3d4-0002-4000-8000-000000000001",
      "name": "Every 15 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://ml-sidecar:8000/anomalies",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "window",
              "value": "15m"
            },
            {
              "name": "min_score",
              "value": "0.3"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "b1b2c3d4-0002-4000-8000-000000000002",
      "name": "Fetch Anomalies",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const anomalies = $input.first().json.anomalies || [];\nreturn anomalies.map(a => ({ json: a }));"
      },
      "id": "b1b2c3d4-0002-4000-8000-000000000003",
      "name": "Split Anomalies",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "anomaly-threshold",
              "leftValue": "={{ $json.score }}",
              "rightValue": 0.75,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "b1b2c3d4-0002-4000-8000-000000000004",
      "name": "Score > 0.75?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const a = $input.first().json;\nconst severity = a.score >= 0.9 ? '\ud83d\udd34 CRITICAL' : a.score >= 0.8 ? '\ud83d\udfe0 HIGH' : '\ud83d\udfe1 MEDIUM';\nconst pctChange = (a.priceChange * 100).toFixed(2);\n\nconst message = `${severity} Anomaly Detected\\n\\n` +\n  `Pair: ${a.pair}\\n` +\n  `Score: ${a.score.toFixed(3)}\\n` +\n  `Type: ${a.type}\\n` +\n  `Price Change: ${pctChange}%\\n` +\n  `Volume Spike: ${a.volumeSpike ? 'Yes' : 'No'}\\n` +\n  `Detected At: ${a.detectedAt}\\n\\n` +\n  `Details: ${a.description || 'N/A'}`;\n\nreturn [{ json: { message, chatId: process.env.TELEGRAM_ALERT_CHAT_ID || '' } }];"
      },
      "id": "b1b2c3d4-0002-4000-8000-000000000005",
      "name": "Format Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        200
      ]
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "b1b2c3d4-0002-4000-8000-000000000006",
      "name": "Telegram Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1360,
        200
      ],
      "credentials": {
        "telegramApi": {
          "id": "vizzor-tg",
          "name": "Vizzor Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Every 15 Minutes": {
      "main": [
        [
          {
            "node": "Fetch Anomalies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Anomalies": {
      "main": [
        [
          {
            "node": "Split Anomalies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Anomalies": {
      "main": [
        [
          {
            "node": "Score > 0.75?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score > 0.75?": {
      "main": [
        [
          {
            "node": "Format Alert",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Format Alert": {
      "main": [
        [
          {
            "node": "Telegram Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "name": "alerts"
    },
    {
      "name": "anomaly"
    }
  ],
  "pinData": {},
  "versionId": "02-alert-pipeline-v1",
  "id": "102"
}