n8n/workflows/03-ml-retraining.json
{
  "name": "03 \u2014 ML Retraining Pipeline",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 3 * * 0"
            }
          ]
        }
      },
      "id": "c1b2c3d4-0003-4000-8000-000000000001",
      "name": "Weekly Sunday 03:00 UTC",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT model_name, COUNT(*) AS total_predictions, SUM(CASE WHEN correct THEN 1 ELSE 0 END) AS correct_predictions, ROUND(100.0 * SUM(CASE WHEN correct THEN 1 ELSE 0 END) / COUNT(*), 2) AS accuracy_pct FROM ml_predictions WHERE evaluated_at >= NOW() - INTERVAL '7 days' GROUP BY model_name ORDER BY accuracy_pct ASC;",
        "additionalFields": {}
      },
      "id": "c1b2c3d4-0003-4000-8000-000000000002",
      "name": "Query Model Accuracy",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        460,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "vizzor-pg",
          "name": "Vizzor Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json);\nconst underperforming = rows.filter(r => r.accuracy_pct < 60);\n\nreturn [{\n  json: {\n    needsRetraining: underperforming.length > 0,\n    models: underperforming.map(m => m.model_name),\n    accuracies: underperforming.map(m => m.accuracy_pct),\n    allModels: rows,\n    summary: underperforming.length > 0\n      ? `${underperforming.length} model(s) below 60% accuracy: ${underperforming.map(m => `${m.model_name} (${m.accuracy_pct}%)`).join(', ')}`\n      : 'All models above 60% accuracy threshold'\n  }\n}];"
      },
      "id": "c1b2c3d4-0003-4000-8000-000000000003",
      "name": "Check Accuracy",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "needs-retraining",
              "leftValue": "={{ $json.needsRetraining }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "c1b2c3d4-0003-4000-8000-000000000004",
      "name": "Accuracy < 60%?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ml-sidecar:8000/retrain",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "models",
              "value": "={{ $json.models }}"
            },
            {
              "name": "lookback_days",
              "value": "90"
            },
            {
              "name": "reason",
              "value": "automated-weekly-accuracy-below-threshold"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "id": "c1b2c3d4-0003-4000-8000-000000000005",
      "name": "Trigger Retrain",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1140,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const retrainResponse = $input.first().json;\nconst jobId = retrainResponse.jobId || retrainResponse.job_id;\n\n// Poll health endpoint until retrain is complete\nlet status = 'training';\nlet attempts = 0;\nconst maxAttempts = 60; // 10 min max\n\nwhile (status === 'training' && attempts < maxAttempts) {\n  await new Promise(r => setTimeout(r, 10000)); // 10s wait\n  try {\n    const resp = await fetch(`http://ml-sidecar:8000/health`);\n    const health = await resp.json();\n    status = health.training_status || 'unknown';\n    if (health.training_job_id === jobId && status === 'idle') {\n      status = 'complete';\n    }\n  } catch (e) {\n    // sidecar might be restarting\n  }\n  attempts++;\n}\n\nreturn [{\n  json: {\n    jobId,\n    status,\n    attempts,\n    timedOut: attempts >= maxAttempts\n  }\n}];"
      },
      "id": "c1b2c3d4-0003-4000-8000-000000000006",
      "name": "Poll Health",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const result = $input.first().json;\nconst parentData = $('Check Accuracy').first().json;\n\nlet message;\nif (result.status === 'complete') {\n  message = `ML Retraining Complete\\n\\n` +\n    `Job ID: ${result.jobId}\\n` +\n    `Models: ${parentData.models.join(', ')}\\n` +\n    `Previous Accuracies: ${parentData.accuracies.map(a => a + '%').join(', ')}\\n` +\n    `Status: SUCCESS\\n` +\n    `Poll Attempts: ${result.attempts}`;\n} else {\n  message = `ML Retraining Issue\\n\\n` +\n    `Job ID: ${result.jobId}\\n` +\n    `Status: ${result.status}\\n` +\n    `Timed Out: ${result.timedOut}\\n` +\n    `Action Required: Check ml-sidecar logs`;\n}\n\nreturn [{ json: { message, chatId: process.env.TELEGRAM_ALERT_CHAT_ID || '' } }];"
      },
      "id": "c1b2c3d4-0003-4000-8000-000000000007",
      "name": "Format Notification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1580,
        200
      ]
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "c1b2c3d4-0003-4000-8000-000000000008",
      "name": "Telegram Notify",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1800,
        200
      ],
      "credentials": {
        "telegramApi": {
          "id": "vizzor-tg",
          "name": "Vizzor Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ process.env.TELEGRAM_ALERT_CHAT_ID || '' }}",
        "text": "ML Retraining Check \u2014 All models above 60% accuracy. No retraining needed this week.",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "c1b2c3d4-0003-4000-8000-000000000009",
      "name": "Telegram Skip Notice",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1140,
        440
      ],
      "credentials": {
        "telegramApi": {
          "id": "vizzor-tg",
          "name": "Vizzor Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Weekly Sunday 03:00 UTC": {
      "main": [
        [
          {
            "node": "Query Model Accuracy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Model Accuracy": {
      "main": [
        [
          {
            "node": "Check Accuracy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Accuracy": {
      "main": [
        [
          {
            "node": "Accuracy < 60%?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Accuracy < 60%?": {
      "main": [
        [
          {
            "node": "Trigger Retrain",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram Skip Notice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Retrain": {
      "main": [
        [
          {
            "node": "Poll Health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll Health": {
      "main": [
        [
          {
            "node": "Format Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Notification": {
      "main": [
        [
          {
            "node": "Telegram Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "name": "ml"
    },
    {
      "name": "retraining"
    }
  ],
  "pinData": {},
  "versionId": "03-ml-retraining-v1",
  "id": "103"
}