n8n/workflows/05-daily-report.json
{
  "name": "05 — Daily Report",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "e1b2c3d4-0005-4000-8000-000000000001",
      "name": "Daily 08:00 UTC",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://vizzor-api:3000/v1/market/trending",
        "options": {
          "timeout": 15000
        }
      },
      "id": "e1b2c3d4-0005-4000-8000-000000000002",
      "name": "Fetch Trending",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 120]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://vizzor-api:3000/v1/market/fear-greed",
        "options": {
          "timeout": 15000
        }
      },
      "id": "e1b2c3d4-0005-4000-8000-000000000003",
      "name": "Fetch Fear & Greed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 280]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://vizzor-api:3000/v1/market/news",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "20"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "e1b2c3d4-0005-4000-8000-000000000004",
      "name": "Fetch News",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 440]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://vizzor-api:3000/v1/market/raises",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "days",
              "value": "1"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "e1b2c3d4-0005-4000-8000-000000000005",
      "name": "Fetch Raises",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 600]
    },
    {
      "parameters": {
        "jsCode": "const trending = $('Fetch Trending').first().json;\nconst fearGreed = $('Fetch Fear & Greed').first().json;\nconst news = $('Fetch News').first().json;\nconst raises = $('Fetch Raises').first().json;\n\n// Prepare top tokens for ML prediction\nconst topTokens = (trending.tokens || trending.trending || []).slice(0, 10);\nconst symbols = topTokens.map(t => t.symbol || t.pair || t.name);\n\nreturn [{\n  json: {\n    trending: topTokens,\n    fearGreed,\n    news: (news.articles || news.news || []).slice(0, 10),\n    raises: (raises.raises || raises.data || []).slice(0, 5),\n    symbols\n  }\n}];"
      },
      "id": "e1b2c3d4-0005-4000-8000-000000000006",
      "name": "Merge Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [740, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ml-sidecar:8000/predict/batch",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "symbols",
              "value": "={{ $json.symbols }}"
            },
            {
              "name": "horizon",
              "value": "24h"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "e1b2c3d4-0005-4000-8000-000000000007",
      "name": "ML Batch Predict",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 300]
    },
    {
      "parameters": {
        "jsCode": "const data = $('Merge Data').first().json;\nconst predictions = $input.first().json.predictions || [];\n\nconst date = new Date().toISOString().split('T')[0];\nconst fg = data.fearGreed;\nconst fgLabel = fg.value >= 75 ? 'Extreme Greed' : fg.value >= 55 ? 'Greed' : fg.value >= 45 ? 'Neutral' : fg.value >= 25 ? 'Fear' : 'Extreme Fear';\n\nlet report = `VIZZOR DAILY REPORT — ${date}\\n`;\nreport += `${'='.repeat(40)}\\n\\n`;\n\n// Fear & Greed\nreport += `MARKET SENTIMENT\\n`;\nreport += `Fear & Greed Index: ${fg.value}/100 (${fgLabel})\\n\\n`;\n\n// Trending tokens with ML predictions\nreport += `TOP TRENDING TOKENS\\n`;\nfor (let i = 0; i < data.trending.length; i++) {\n  const t = data.trending[i];\n  const pred = predictions.find(p => p.symbol === (t.symbol || t.pair));\n  const predStr = pred ? ` | ML 24h: ${pred.direction} (${(pred.confidence * 100).toFixed(0)}%)` : '';\n  report += `${i + 1}. ${t.symbol || t.pair} — $${Number(t.price || 0).toLocaleString()}${predStr}\\n`;\n}\n\n// News\nreport += `\\nTOP NEWS\\n`;\nfor (const n of data.news.slice(0, 5)) {\n  report += `• ${n.title}\\n`;\n}\n\n// Raises\nif (data.raises.length > 0) {\n  report += `\\nFUNDING RAISES (24h)\\n`;\n  for (const r of data.raises) {\n    report += `• ${r.project}: $${Number(r.amount || 0).toLocaleString()} (${r.round || 'N/A'})\\n`;\n  }\n}\n\nreturn [{ json: { report, chatId: process.env.TELEGRAM_REPORT_CHAT_ID || '', discordWebhook: process.env.DISCORD_REPORT_WEBHOOK || '' } }];"
      },
      "id": "e1b2c3d4-0005-4000-8000-000000000008",
      "name": "Compose Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1180, 300]
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.report }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "e1b2c3d4-0005-4000-8000-000000000009",
      "name": "Telegram Report",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1420, 200],
      "credentials": {
        "telegramApi": {
          "id": "vizzor-tg",
          "name": "Vizzor Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.discordWebhook }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ content: $json.report.substring(0, 2000) }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "e1b2c3d4-0005-4000-8000-000000000010",
      "name": "Discord Webhook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1420, 420]
    }
  ],
  "connections": {
    "Daily 08:00 UTC": {
      "main": [
        [
          {
            "node": "Fetch Trending",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Fear & Greed",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch News",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Raises",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Trending": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Fear & Greed": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch News": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Raises": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Data": {
      "main": [
        [
          {
            "node": "ML Batch Predict",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ML Batch Predict": {
      "main": [
        [
          {
            "node": "Compose Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compose Report": {
      "main": [
        [
          {
            "node": "Telegram Report",
            "type": "main",
            "index": 0
          },
          {
            "node": "Discord Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "name": "reports"
    },
    {
      "name": "daily"
    }
  ],
  "pinData": {},
  "versionId": "05-daily-report-v1"
}
