n8n/workflows/07-narrative-generator.json
{
  "name": "07 — Narrative Generator",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "a2b2c3d4-0007-4000-8000-000000000001",
      "name": "Every 6 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://vizzor-api:3000/v1/market/trending",
        "options": {
          "timeout": 15000
        }
      },
      "id": "a2b2c3d4-0007-4000-8000-000000000002",
      "name": "Fetch Trending",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 160]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://vizzor-api:3000/v1/market/news",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "15"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "a2b2c3d4-0007-4000-8000-000000000003",
      "name": "Fetch News",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 320]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://vizzor-api:3000/v1/market/fear-greed",
        "options": {
          "timeout": 15000
        }
      },
      "id": "a2b2c3d4-0007-4000-8000-000000000004",
      "name": "Fetch Fear & Greed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 480]
    },
    {
      "parameters": {
        "jsCode": "const trending = $('Fetch Trending').first().json;\nconst news = $('Fetch News').first().json;\nconst fearGreed = $('Fetch Fear & Greed').first().json;\n\nconst topTokens = (trending.tokens || trending.trending || []).slice(0, 10);\nconst symbols = topTokens.map(t => t.symbol || t.pair);\n\nreturn [{\n  json: {\n    trending: topTokens,\n    news: (news.articles || news.news || []).slice(0, 10),\n    fearGreed,\n    symbols\n  }\n}];"
      },
      "id": "a2b2c3d4-0007-4000-8000-000000000005",
      "name": "Merge Market Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [740, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ml-sidecar:8000/predict/batch",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "symbols",
              "value": "={{ $json.symbols }}"
            },
            {
              "name": "horizon",
              "value": "6h"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "a2b2c3d4-0007-4000-8000-000000000006",
      "name": "ML Batch Predict",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 300]
    },
    {
      "parameters": {
        "jsCode": "const data = $('Merge Market Data').first().json;\nconst predictions = $input.first().json.predictions || [];\n\nconst fg = data.fearGreed;\nconst fgLabel = fg.value >= 75 ? 'Extreme Greed' : fg.value >= 55 ? 'Greed' : fg.value >= 45 ? 'Neutral' : fg.value >= 25 ? 'Fear' : 'Extreme Fear';\n\nlet trendingSummary = data.trending.map((t, i) => {\n  const pred = predictions.find(p => p.symbol === (t.symbol || t.pair));\n  return `${i+1}. ${t.symbol || t.pair}: $${Number(t.price || 0).toLocaleString()} (24h: ${(t.change24h || 0).toFixed(1)}%)` +\n    (pred ? ` — ML predicts ${pred.direction} (${(pred.confidence * 100).toFixed(0)}% conf)` : '');\n}).join('\\n');\n\nlet newsSummary = data.news.map(n => `- ${n.title} (${n.source || 'unknown'})`).join('\\n');\n\nconst prompt = `You are Vizzor, a crypto market analyst AI. Generate a concise but insightful market narrative (300-500 words) based on the following real-time data.\\n\\n` +\n  `MARKET SENTIMENT: Fear & Greed Index = ${fg.value}/100 (${fgLabel})\\n\\n` +\n  `TOP TRENDING TOKENS (with ML predictions):\\n${trendingSummary}\\n\\n` +\n  `LATEST NEWS:\\n${newsSummary}\\n\\n` +\n  `Requirements:\\n` +\n  `1. Identify the dominant market narrative/theme\\n` +\n  `2. Highlight key catalysts and risks\\n` +\n  `3. Note any sector rotations or emerging trends\\n` +\n  `4. Provide actionable insights without financial advice\\n` +\n  `5. Keep tone professional but accessible\\n` +\n  `6. End with 2-3 key things to watch in the next 6 hours`;\n\nreturn [{ json: { prompt } }];"
      },
      "id": "a2b2c3d4-0007-4000-8000-000000000007",
      "name": "Structure Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1180, 300]
    },
    {
      "parameters": {
        "resource": "chat",
        "model": "gpt-4o",
        "messages": {
          "values": [
            {
              "content": "={{ $json.prompt }}"
            }
          ]
        },
        "options": {
          "maxTokens": 1024,
          "temperature": 0.7
        }
      },
      "id": "a2b2c3d4-0007-4000-8000-000000000008",
      "name": "OpenAI Generate",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [1400, 300],
      "credentials": {
        "openAiApi": {
          "id": "vizzor-openai",
          "name": "Vizzor OpenAI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const narrative = $input.first().json.message?.content || $input.first().json.text || $input.first().json.choices?.[0]?.message?.content || 'No narrative generated.';\nconst timestamp = new Date().toISOString();\n\nconst message = `VIZZOR MARKET NARRATIVE\\n` +\n  `${timestamp}\\n` +\n  `${'—'.repeat(30)}\\n\\n` +\n  narrative;\n\nreturn [{ json: { message, chatId: process.env.TELEGRAM_REPORT_CHAT_ID || '' } }];"
      },
      "id": "a2b2c3d4-0007-4000-8000-000000000009",
      "name": "Format Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1620, 300]
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "a2b2c3d4-0007-4000-8000-000000000010",
      "name": "Telegram Narrative",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1840, 300],
      "credentials": {
        "telegramApi": {
          "id": "vizzor-tg",
          "name": "Vizzor Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Every 6 Hours": {
      "main": [
        [
          {
            "node": "Fetch Trending",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch News",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Fear & Greed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Trending": {
      "main": [
        [
          {
            "node": "Merge Market Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch News": {
      "main": [
        [
          {
            "node": "Merge Market Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Fear & Greed": {
      "main": [
        [
          {
            "node": "Merge Market Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Market Data": {
      "main": [
        [
          {
            "node": "ML Batch Predict",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ML Batch Predict": {
      "main": [
        [
          {
            "node": "Structure Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structure Prompt": {
      "main": [
        [
          {
            "node": "OpenAI Generate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Generate": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Output": {
      "main": [
        [
          {
            "node": "Telegram Narrative",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "name": "narrative"
    },
    {
      "name": "ai"
    }
  ],
  "pinData": {},
  "versionId": "07-narrative-generator-v1"
}
