n8n/workflows/08-portfolio-rebalancer.json
{
  "name": "08 \u2014 Portfolio Rebalancer",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 4
            }
          ]
        }
      },
      "id": "b2b2c3d4-0008-4000-8000-000000000001",
      "name": "Every 4 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://vizzor-api:3000/v1/agents",
        "options": {
          "timeout": 10000
        }
      },
      "id": "b2b2c3d4-0008-4000-8000-000000000002",
      "name": "Fetch Agents",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const agents = $input.first().json.agents || [];\nconst active = agents.filter(a => a.status === 'running' || a.status === 'active');\nreturn active.map(a => ({ json: a }));"
      },
      "id": "b2b2c3d4-0008-4000-8000-000000000003",
      "name": "Filter Active Agents",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "b2b2c3d4-0008-4000-8000-000000000004",
      "name": "For Each Agent",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'http://vizzor-api:3000/v1/agents/' + $json.id + '/portfolio' }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "b2b2c3d4-0008-4000-8000-000000000005",
      "name": "Get Portfolio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ml-sidecar:8000/predict/batch",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "symbols",
              "value": "={{ ($json.holdings || []).map(h => h.symbol) }}"
            },
            {
              "name": "horizon",
              "value": "4h"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "b2b2c3d4-0008-4000-8000-000000000006",
      "name": "ML Predict Holdings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const portfolio = $('Get Portfolio').first().json;\nconst predictions = $input.first().json.predictions || [];\nconst agent = $('For Each Agent').first().json;\n\nconst holdings = portfolio.holdings || [];\nconst totalValue = holdings.reduce((sum, h) => sum + (h.value || 0), 0);\n\n// Analyze correlations and check for overexposure\nconst allocations = holdings.map(h => {\n  const pct = totalValue > 0 ? (h.value / totalValue) * 100 : 0;\n  const pred = predictions.find(p => p.symbol === h.symbol);\n  return {\n    symbol: h.symbol,\n    value: h.value,\n    pct: pct.toFixed(2),\n    mlDirection: pred?.direction || 'unknown',\n    mlConfidence: pred?.confidence || 0\n  };\n});\n\n// Detect rebalance conditions\nconst overexposed = allocations.filter(a => parseFloat(a.pct) > 40);\nconst bearishHoldings = allocations.filter(a => a.mlDirection === 'bearish' && a.mlConfidence > 0.7 && parseFloat(a.pct) > 10);\nconst needsRebalance = overexposed.length > 0 || bearishHoldings.length > 0;\n\nlet reasons = [];\nif (overexposed.length > 0) reasons.push(`Overexposed: ${overexposed.map(a => `${a.symbol} at ${a.pct}%`).join(', ')}`);\nif (bearishHoldings.length > 0) reasons.push(`Bearish ML signal: ${bearishHoldings.map(a => `${a.symbol} (${(a.mlConfidence * 100).toFixed(0)}% conf)`).join(', ')}`);\n\nreturn [{\n  json: {\n    agentId: agent.id,\n    agentName: agent.name,\n    totalValue,\n    allocations,\n    needsRebalance,\n    reasons,\n    overexposed,\n    bearishHoldings\n  }\n}];"
      },
      "id": "b2b2c3d4-0008-4000-8000-000000000007",
      "name": "Analyze Correlations",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "needs-rebalance",
              "leftValue": "={{ $json.needsRebalance }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "b2b2c3d4-0008-4000-8000-000000000008",
      "name": "Needs Rebalance?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1780,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nlet message = `PORTFOLIO REBALANCE ALERT\\n\\n`;\nmessage += `Agent: ${data.agentName} (${data.agentId})\\n`;\nmessage += `Total Value: $${Number(data.totalValue).toLocaleString()}\\n\\n`;\n\nmessage += `Current Allocations:\\n`;\nfor (const a of data.allocations) {\n  message += `  ${a.symbol}: ${a.pct}% ($${Number(a.value).toLocaleString()}) \u2014 ML: ${a.mlDirection}\\n`;\n}\n\nmessage += `\\nReasons:\\n`;\nfor (const r of data.reasons) {\n  message += `  - ${r}\\n`;\n}\n\nmessage += `\\nAction: Review and rebalance recommended.`;\n\nreturn [{ json: { message, chatId: process.env.TELEGRAM_ALERT_CHAT_ID || '' } }];"
      },
      "id": "b2b2c3d4-0008-4000-8000-000000000009",
      "name": "Format Rebalance Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2020,
        200
      ]
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "b2b2c3d4-0008-4000-8000-000000000010",
      "name": "Telegram Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2240,
        200
      ],
      "credentials": {
        "telegramApi": {
          "id": "vizzor-tg",
          "name": "Vizzor Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Every 4 Hours": {
      "main": [
        [
          {
            "node": "Fetch Agents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Agents": {
      "main": [
        [
          {
            "node": "Filter Active Agents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Active Agents": {
      "main": [
        [
          {
            "node": "For Each Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "For Each Agent": {
      "main": [
        [
          {
            "node": "Get Portfolio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Portfolio": {
      "main": [
        [
          {
            "node": "ML Predict Holdings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ML Predict Holdings": {
      "main": [
        [
          {
            "node": "Analyze Correlations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Correlations": {
      "main": [
        [
          {
            "node": "Needs Rebalance?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Rebalance?": {
      "main": [
        [
          {
            "node": "Format Rebalance Alert",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Format Rebalance Alert": {
      "main": [
        [
          {
            "node": "Telegram Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "name": "portfolio"
    },
    {
      "name": "agents"
    }
  ],
  "pinData": {},
  "versionId": "08-portfolio-rebalancer-v1",
  "id": "108"
}